@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-player-1: ;
    --cor-player-2: ;
    --Player-1: ;
    --rotation: ;
    --cor-playerVez: ;
    --rotation-vitoria: ;
    --tamanhoBefore: ;
}

body {
    font-family: "Indie Flower", cursive;
    height: 100vh;
    width: 100vw;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-geral {
    background: #333 url("../img/bg-caderno3.png") no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 700px;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


/* Titulo */

.title {
    margin: 85px auto 0 auto;
    padding: 5px 15px;
    font-size: 2.5rem;
    font-weight: 200;
    color: #fff;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
}

.title span {
    font-size: 3rem;
    font-weight: 900;
}


/* reutilização */

.X {
    color: rgb(238, 68, 68);
}

.O {
    color: rgb(2, 129, 40);
}


/* Escolher Jogador */

.escolha-jogador {
    margin-top: 50px;
    width: 80%;
    height: 60%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.escolha-jogador .wraper-button {
    width: 80%;
    height: 80%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.escolha-jogador h1 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.wraper-button button {
    width: 50%;
    height: 80%;
    margin: 10px;
    font-size: 9rem;
    border-radius: 25px;
    font-family: "Indie Flower", cursive;
    outline: none;
    border: none;
    box-shadow: 3px 5px 15px rgba(39, 39, 39, 0.322);
    background: rgba(0, 0, 0, 0.3);
}

.wraper-button button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.escolha-jogador.mostrar {
    display: flex;
}


/* Modal Vez */

.modal-vez {
    position: absolute;
    width: 110px;
    height: 60px;
    transition: all 0.6s;
    z-index: 100;
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: all 1s ease;
}

.player-1 {
    transform: translateX(-50px) scale(0.1);
    top: 90px;
    left: 54px;
    opacity: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(var(--cor-player-1), 0.5);
}

.player-2 {
    transform: translateX(50px) scale(0.1);
    top: 90px;
    left: 532px;
    opacity: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(var(--cor-player-2), 0.5);
}

.modal-vez.player-1.mostrar,
.modal-vez.player-2.mostrar {
    transform: translateX(0);
    opacity: 1;
}

.mostra-player-sorteado {
    height: 200px;
    width: 300px;
    top: 40%;
    left: 28%;
    right: 28%;
    opacity: 1;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    transform: translateX(0);
}


/* Modal de avisos */

.modal-avisos {
    z-index: 100;
    width: 70%;
    transition: all 0.6s ease-in-out;
    transform: translate3d(-300px, 300px, 0) scale(0.1);
    top: 42%;
    text-align: center;
    position: absolute;
    padding: 10px;
    outline: 2px dotted rgba(255, 255, 255, 0.363);
    outline-offset: -10px;
    opacity: 0;
    justify-content: space-around;
    height: 50%;
    font-size: 3.5rem;
    flex-direction: column;
    display: flex;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background: rgba(126, 91, 47, 0.7);
    align-items: center;
    /* text-transform: uppercase; */
}

.modal-avisos button {
    width: 50%;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    margin-bottom: 10px;
}

.simNao button {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    margin: 5px 10px 10px 10px;
}

.simNao {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.modal-avisos button:hover {
    background: rgba(255, 255, 255, 0.3);
    color: black;
}

.modal-avisos.mostrar {
    transform: translate3d(0px, 0px, 0) scale(1);
    opacity: 1;
}


/* modal sorteio */

.modal-sorteio {
    position: absolute;
    top: 40%;
    width: 60%;
    height: 45%;
    opacity: 0;
    transform: translate3d(300px, -300px, 0) scale(0.1);
    background: rgba(126, 91, 47, 0.7);
    transition: all 0.6s ease-out;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    outline: 3px dotted rgba(255, 255, 255, 0.363);
    outline-offset: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.wraper-modal-sorterio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 160px;
    height: 160px;
    margin: auto;
    perspective: 800px;
}

.modal-sorteio .cartas {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.modal-sorteio .cartas.mostrar {
    animation: rotation 2.4s infinite;
}

@keyframes rotation {
    0% {
        transform: rotateY(0deg);
    }
    75% {
        transform: rotateY(var(--rotation));
    }
    100% {
        transform: rotateY(var(--rotation));
    }
}

.modal-sorteio.mostrar {
    transform: translate3d(0px, 0px, 0) scale(1);
    opacity: 1;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 6rem;
    border-radius: 5px;
    font-family: "Indie Flower", cursive;
    outline: none;
    background: rgba(0, 0, 0, 0.3);
}

.left {
    width: 100%;
    height: 100%;
    transform: translateX(-50%) rotateY(90deg) scaleX(-1);
}

.right {
    width: 100%;
    height: 100%;
    transform: translateX(50%) rotateY(90deg);
}

.back {
    width: 100%;
    height: 100%;
    transform: translateZ(-78px) scaleX(-1);
}

.front {
    width: 100%;
    height: 100%;
    transform: translateZ(78px);
}


/* animação cards */

.card .x {
    opacity: 0;
}

.card .o {
    opacity: 0;
}


/* Tabuleiro */

.playin {
    width: 570px;
    height: 580px;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.playin.mostrar {
    display: flex;
}

.header-info {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
}

.info-placar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 4px;
}

.info-placar h2 {
    font-size: 2.5rem;
    grid-row: 1/3;
    align-self: center;
}

.info-placar h2::after {
    content: " ";
    width: 10px;
    height: 200px;
    margin-left: 5px;
    border: 2px solid #fff;
}

.placar {
    margin-left: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.placar .player {
    font-size: 1.5rem;
    font-weight: 900;
}

.placar .pontos {
    width: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.39);
    font-size: 2rem;
    padding: 0 10px;
    border-radius: 5px;
}

.placar .pontos.mostrar {
    animation: piscar 2.4s infinite;
}

.voce,
.computador {
    grid-column: 2/3;
}

.infoitem {
    display: grid;
    justify-content: center;
    align-content: space-around;
}

.infoitem button {
    width: 100%;
    height: 90%;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Indie Flower", cursive;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.infoitem button:hover {
    background: rgba(255, 255, 255, 0.3);
    color: black;
}


/* Tabuleiro */

.grid-jogo {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-jogo .item {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    background: transparent;
}

@keyframes piscar {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.item[data-vitoria="X"]::before {
    content: "";
    font-size: 5rem;
    height: var(--tamanhoBefore);
    border: 10px solid rgb(var(--cor-playerVez));
    text-align: center;
    position: absolute;
    transition: all 1s ease;
    transform: rotate(var(--rotation-vitoria));
    animation: piscar 2s infinite;
}

.grid-jogo[value="X"] .item[value=""]:hover {
    background: rgba(255, 255, 255, 0.3);
}

.grid-jogo[value="X"] .item[value=""]:hover:after {
    content: var(--Player-1);
    font-size: 5rem;
    text-align: center;
    position: relative;
    color: rgb(var(--cor-player-1));
    transition: all 1s ease;
}

.item.t {
    border-top: 5px solid #fff;
}

.item.l {
    border-left: 5px solid #fff;
}

.item.r {
    border-right: 5px solid #fff;
}

.item.b {
    border-bottom: 5px solid #fff;
}